.modalBlur {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #282c34;
    opacity: 0.4;
}
.modal {
    width: 35%;
    height: 35%;
    background-color: #E9F8F8;
    z-index: 100;
    position: absolute;
}
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
