.table {
    width: 100%;
    margin-bottom: 20px;
    /*border: 1px solid #dddddd;*/
    border-collapse: collapse;
}
.table th {

}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
.card {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    horiz-align: center;
    row-gap: 20px;
    /*max-width: 600px;*/
    gap: 50px;
    margin: 0 auto 30px;
    /*margin-bottom: 30px;*/
    width: 300px;
    border: 1px solid #000000;
    border-radius: 12px;
}
