.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bodyStyle {
    background: url("https://static.tildacdn.com/tild3133-6663-4565-b033-306431316139/1580571015_6-p-foni-.jpg");
    padding: 1% 25% 9% 25%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.buttonContainer {
    padding: 15px;
}
.msgContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg {
    height: 30px;
    background-color: #D14351;
    padding: 5px;
    border-radius: 5px;
}
.mainWindow {
    width: 100%;
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 3%;
    flex-grow: 1;

    overflow: auto;

}
.mainWindowCenter {

    align-items: center;
    display: flex;
    flex-direction: column;

}

.payButtonContainer {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
